# `Python for academics` : Documenting your research

by **Kamila Zdybał**

[`https://kamilazdybal.github.io`](https://kamilazdybal.github.io)

In this notebook, we explore various ways in which you can automatically document your code and research results.

<a id=top-page></a>
***

## Table of contents

- [**Generate README files automatically**](#README)
    - [Exercise 1](#README-ex-1)
    - [Exercise 2](#README-ex-2)
    - [Exercise 3](#README-ex-3)
- [**Organize your results into LaTeX tables**](#latex-tables)
    - [Exercise 1](array-to-latex-ex-1)

<a id=README></a>
***

## Generate README files automatically

[**Go to the top ↑**](#top-page)

<a id=README-ex-1></a>
***
### Exercise 1

[**Go to the top ↑**](#top-page)

<a href="https://youtu.be/KnbVBXsbyxg">
  <img src="https://img.shields.io/badge/youtube-firebrick?style=for-the-badge&logo=youtube&logoColor=white" alt="YouTube Badge"/>
</a>

We want to accomplish:

<img src="../figures/README-01.png" style="width:800px">

For this, we need to generate the following `markdown` code:

```markdown
# Available code

- [Jupyter notebook: `process-files.ipynb`](process-files.ipynb)

- [Jupyter notebook: `document-research.ipynb`](document-research.ipynb)

- [Jupyter notebook: `automate-your-life-with-list-comprehensions.ipynb`](automate-your-life-with-list-comprehensions.ipynb)
```

In [1]:
from os import listdir
from os.path import isfile

In [2]:
directory = './'

In [3]:
files = [i for i in listdir(directory) if isfile(directory + i)]

In [4]:
README_file = open(directory + 'README.md', 'w')

In [5]:
README_file.write('# Available code\n\n')

18

In [6]:
for file in files:
    
    file_list = file.split('.')

    if file_list[-1] == 'ipynb':
        
        README_file.write('- [Jupyter notebook: `' + file + '`](' + file + ')\n\n')

README_file.close()

print('\nREADME.md file generated in:\n' + directory + '\n')

README.md file generated in:
./

<a id=README-ex-2></a>
***
### Exercise 2

[**Go to the top ↑**](#top-page)

<a href="https://youtu.be/9jCQA3psQGI">
  <img src="https://img.shields.io/badge/youtube-firebrick?style=for-the-badge&logo=youtube&logoColor=white" alt="YouTube Badge"/>
</a>

We want to accomplish:

<img src="../figures/README-02.png" style="width:800px">

For this, we need to generate the following `markdown` code:

```markdown
# Available code

### `Python for academics` : Processing files

- [Jupyter notebook: `process-files.ipynb`](process-files.ipynb)

> In this notebook, we explore various ways in which Python can help us preprocess files that store your research results.

### `Python for academics` : Documenting your research

- [Jupyter notebook: `document-research.ipynb`](document-research.ipynb)

> In this notebook, we explore various ways in which you can automatically document your code and research results.

### `Python for academics` : Automate your life with list comprehensions

- [Jupyter notebook: `list-comprehensions.ipynb`](list-comprehensions.ipynb)

> In this notebook, we use list comprehensions to quickly generate large pieces of text and `tex` code. 
```

In [7]:
from os import listdir
from os.path import isfile
import nbformat

In [8]:
directory = './'

In [9]:
files = [i for i in listdir(directory) if isfile(directory + i)]

In [10]:
README_file = open(directory + 'README.md', 'w')

In [11]:
README_file.write('# Available code\n\n')

18

In [12]:
for file in files:
    
    file_list = file.split('.')

    if file_list[-1] == 'ipynb':
        
        notebook = nbformat.read(directory + file, as_version=4)
        
        README_file.write('##' + notebook['cells'][0]['source'].split('\n\n')[0] + '\n\n')
 
        README_file.write('- [Jupyter notebook: `' + file + '`](' + file + ')\n\n')
    
        README_file.write('> ' + notebook['cells'][1]['source'] + '\n\n')

README_file.close()

print('\nREADME.md file generated in:\n' + directory + '\n')

README.md file generated in:
./

<a id=latex-tables></a>
***

## Organize your results into `LaTeX` tables

[**Go to the top ↑**](#top-page)

<a id=array-to-latex-ex-1></a>
***
### Exercise 1

[**Go to the top ↑**](#top-page)

<a href="https://youtu.be/-kU4h05jlFA">
  <img src="https://img.shields.io/badge/youtube-firebrick?style=for-the-badge&logo=youtube&logoColor=white" alt="YouTube Badge"/>
</a>

We want to accomplish:

<img src="../figures/numerical-table-01.png" style="width:800px">

For this, we need to generate the following `tex` code:

```tex
\begin{tabular}{lllllll}
\toprule
{} &  $R_{1}$ &  $R_{2}$ &  $R_{3}$ &  $R_{4}$ &  $R_{5}$ &  $R_{6}$ \\
\midrule
$x^{2}$ &    0.364 &    0.693 &    0.285 &    0.392 &    0.410 &    0.634 \\
$x^{3}$ &    0.014 &    0.244 &    0.185 &    0.821 &    0.433 &    0.143 \\
$x^{4}$ &    0.521 &    0.326 &    0.226 &    0.024 &    0.606 &    0.659 \\
$x^{5}$ &    0.560 &    0.536 &    0.965 &    0.439 &    0.534 &    0.550 \\
\bottomrule
\end{tabular}
```

In [13]:
import numpy as np
import pandas as pd

In [14]:
results = np.random.random((4,6))

In [15]:
df = pd.DataFrame(results)

In [16]:
df

          0         1         2         3         4         5
0  0.879201  0.993762  0.682647  0.074353  0.271334  0.821780
1  0.370469  0.421167  0.210023  0.605974  0.534308  0.039070
2  0.643011  0.730541  0.796048  0.578876  0.859761  0.184328
3  0.030577  0.611492  0.232486  0.936543  0.825899  0.959361

In [17]:
print(df.to_latex(header=False, index=False))

\begin{tabular}{rrrrrr}
\toprule
\midrule
0.879201 & 0.993762 & 0.682647 & 0.074353 & 0.271334 & 0.821780 \\
0.370469 & 0.421167 & 0.210023 & 0.605974 & 0.534308 & 0.039070 \\
0.643011 & 0.730541 & 0.796048 & 0.578876 & 0.859761 & 0.184328 \\
0.030577 & 0.611492 & 0.232486 & 0.936543 & 0.825899 & 0.959361 \\
\bottomrule
\end{tabular}

In [18]:
n_rows, n_columns = np.shape(results)

In [19]:
columns = ['$R_{' + str(i+1) + '}$' for i in range(0,n_columns)]

In [20]:
index = ['$x^{' + str(i+2) + '}$' for i in range(0,n_rows)]

In [21]:
df = pd.DataFrame(results, columns=columns, index=index)

In [22]:
df

          $R_{1}$   $R_{2}$   $R_{3}$   $R_{4}$   $R_{5}$   $R_{6}$
$x^{2}$  0.879201  0.993762  0.682647  0.074353  0.271334  0.821780
$x^{3}$  0.370469  0.421167  0.210023  0.605974  0.534308  0.039070
$x^{4}$  0.643011  0.730541  0.796048  0.578876  0.859761  0.184328
$x^{5}$  0.030577  0.611492  0.232486  0.936543  0.825899  0.959361

In [23]:
print(df.to_latex(header=True, index=True, escape=False, float_format='%.3f', column_format='l'*(n_columns+1)))

\begin{tabular}{lllllll}
\toprule
 & $R_{1}$ & $R_{2}$ & $R_{3}$ & $R_{4}$ & $R_{5}$ & $R_{6}$ \\
\midrule
$x^{2}$ & 0.879 & 0.994 & 0.683 & 0.074 & 0.271 & 0.822 \\
$x^{3}$ & 0.370 & 0.421 & 0.210 & 0.606 & 0.534 & 0.039 \\
$x^{4}$ & 0.643 & 0.731 & 0.796 & 0.579 & 0.860 & 0.184 \\
$x^{5}$ & 0.031 & 0.611 & 0.232 & 0.937 & 0.826 & 0.959 \\
\bottomrule
\end{tabular}

***